In [3]:
'''
載入預設套件
'''
# basic
import numpy as np
import pandas as pd

# get data
import pandas_datareader as pdr

# visual
import matplotlib.pyplot as plt
import mpl_finance as mpf
import seaborn as sns

#time
import datetime as datetime

In [4]:
# 使用 pandas_datareader 抓取某個股票，這邊使用台積電(2330)
start = datetime.datetime(2020,1,1)

# 取得 data frame
df_2330 = pdr.DataReader('2330.TW', 'yahoo', start=start)

# 預覽 data frame
df_2330

             High    Low   Open  Close      Volume   Adj Close
Date
2020-01-02  339.0  332.5  332.5  339.0  31754120.0  331.257660
2020-01-03  345.0  335.5  344.0  339.5  41811268.0  331.746246
2020-01-06  334.5  332.0  333.0  332.0  45343057.0  324.417572
2020-01-07  333.0  326.5  332.5  329.5  50879181.0  321.974640
2020-01-08  333.0  325.0  325.0  329.5  37567748.0  321.974640
...           ...    ...    ...    ...         ...         ...
2020-11-06  455.5  450.0  455.0  452.5  30154140.0  452.500000
2020-11-09  460.0  454.0  458.0  458.5  39245881.0  458.500000
2020-11-10  454.5  448.5  452.0  451.0  34820499.0  451.000000
2020-11-11  457.0  448.5  448.5  457.0  36765561.0  457.000000
2020-11-12  463.5  457.5  463.0  458.0  39980000.0  458.000000

[210 rows x 6 columns]