In [ ]:
!pip install pandas_datareader mpl_finance

In [ ]:
'''
載入預設套件
'''
# basic
import numpy as np
import pandas as pd

# get data
import pandas_datareader as pdr

# visual
import matplotlib.pyplot as plt
import mpl_finance as mpf
import seaborn as sns

#time
import datetime as datetime

In [2]:
# 使用 pandas_datareader 抓取某個股票，這邊使用台積電(2330)
start = datetime.datetime(2020,1,1)

# 取得 data frame
df_2330 = pdr.DataReader('2330.TW', 'yahoo', start=start)

# 預覽 data frame
df_2330

             High    Low   Open  Close       Volume   Adj Close
Date
2020-01-02  339.0  332.5  332.5  339.0   31754120.0  328.295837
2020-01-03  345.0  335.5  344.0  339.5   41811268.0  328.780060
2020-01-06  334.5  332.0  333.0  332.0   45343057.0  321.516846
2020-01-07  333.0  326.5  332.5  329.5   50879181.0  319.095795
2020-01-08  333.0  325.0  325.0  329.5   37567748.0  319.095795
...           ...    ...    ...    ...          ...         ...
2021-03-22  598.0  586.0  588.0  593.0   34089033.0  593.000000
2021-03-23  603.0  593.0  597.0  594.0   29374037.0  594.000000
2021-03-24  582.0  571.0  571.0  576.0  107253959.0  576.000000
2021-03-25  581.0  570.0  572.0  575.0   67833354.0  575.000000
2021-03-26  592.0  580.0  582.0  590.0   36829858.0  590.000000

[297 rows x 6 columns]