In [1]:
'''
載入預設套件
'''
# basic
import numpy as np
import pandas as pd

# get data
import pandas_datareader as pdr

# visual
import matplotlib.pyplot as plt
import mpl_finance as mpf
import seaborn as sns

#time
import datetime as datetime

#talib
import talib

C:\Users\Owner\anaconda3\lib\site-packages\mpl_finance.py:22: DeprecationWarning:

  =================================================================

   WARNING: `mpl_finance` is deprecated:

    Please use `mplfinance` instead (no hyphen, no underscore).

    To install: `pip install --upgrade mplfinance`

   For more information, see: https://pypi.org/project/mplfinance/

  =================================================================

  category=DeprecationWarning)

In [2]:
# 使用pandas_datareader抓取某個股票，這邊使用台積電(2330)
start = datetime.datetime(2020,1,1)

# 取得 dataframe
df_2330 = pdr.DataReader('2330.TW', 'yahoo', start=start)

In [3]:
df_2330

             High    Low   Open  Close      Volume   Adj Close
Date
2020-01-02  339.0  332.5  332.5  339.0  31754120.0  331.257660
2020-01-03  345.0  335.5  344.0  339.5  41811268.0  331.746246
2020-01-06  334.5  332.0  333.0  332.0  45343057.0  324.417572
2020-01-07  333.0  326.5  332.5  329.5  50879181.0  321.974640
2020-01-08  333.0  325.0  325.0  329.5  37567748.0  321.974640
...           ...    ...    ...    ...         ...         ...
2020-10-15  456.5  450.0  456.0  453.0  47775028.0  453.000000
2020-10-16  456.0  448.5  451.0  449.0  46876801.0  449.000000
2020-10-19  457.5  451.0  453.0  457.5  34470906.0  457.500000
2020-10-20  457.0  451.0  455.5  451.0  25205638.0  451.000000
2020-10-21  456.0  451.0  453.5  453.0  27947000.0  453.000000

[194 rows x 6 columns]